.navbar{
    padding: 16px;
    position: relative;
    background-color: #FBEBB5;
    color: #000;
    
}

.nav-container{
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;


}

.nav-links{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 20px;
    padding: 0;
    gap: 20px;
}

.nav-link{
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;

}

.nav-link:hover{
    color: #159EEC;
}
.nav-icons{
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.icon {
    color: black;
}

.search-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.search-input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid white;
}